node_modules/
functions/node_modules/
.env
functions/.env
*.log
.firebase/
firestore.rules
RULES.md
functions/usage-key.json
functions/emercre-key.json
functions/package-lock.json
firebase.json
.firebaserc
functions/node_modules/
*.ps1
sync_all.ps1
